@layer base {
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation: none !important;
      transition: none !important;
      scroll-behavior: auto !important;
    }
  }
}

@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
